<header>
    <div class="header__container">
        <div class="logo"><img class="logo__icon" src="./assets/images/logo-green.png" /><span
                class="logo__text">Solstice
                Tennis Club</span>
        </div>
        <nav>
            <a class="header__link" href="/">Home</a>
            <a class="header__link" href="./members.html">Members</a>
            <a class="header__link" href="./blog.html">Blog</a>
            <a class="header__link" href="/join">Join</a>
        </nav>
    </div>
</header>